# Dependencias (esta carpeta es muy pesada y se regenera con npm install)
node_modules/
jspm_packages/

# Variables de entorno (Contiene tus contraseñas y llaves secretas)
.env
.env.test
.env.production

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Carpetas de editores (Opcional, pero recomendado)
.vscode/
.idea/